<div class="container">
  <ng-container *ngIf="!loadingData && !errorMsg">
    <h5>User details</h5>
    <p>Name - {{user.name}}</p>
    <p>Joined on - {{userInfo.creationDate | date}}</p>
    
    <h5>Favourite companies (<a routerLink="/companies">all companies list</a>)</h5>
    <div class="row">
      <div class="col s12 m4" *ngFor="let company of userInfo.favCompanies">
        <app-company
          [company]="company"
          [userId]="userInfo._id"
          (onRemove)="onRemove($event)">
        </app-company>
      </div>
    </div>
  </ng-container>
  
  <p class="error red-text" *ngIf="!loadingData && errorMsg">{{errorMsg}}</p>
  
  <ng-container *ngIf="loadingData">
    <div class="center-align">
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
